@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Bitcount+Single:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-dvh {
    height: 100dvh;
  }
}


@keyframes animateOne {

  0%,
  100% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}

@keyframes animateTwo {

  0%,
  100% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.7);
  }
}

@keyframes animateThree {

  0%,
  100% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(0.9);
  }
}

.animate-one {
  animation: animateOne 3.5s infinite ease-in-out;
}

.animate-two {
  animation: animateTwo 3.5s infinite ease-in-out;
}

.animate-three {
  animation: animateThree 5s infinite ease-in-out;
}

.custom-transition {
  @apply duration-500 transition-all
}

:root {
  --color-bg: #ffffff;
  --color-text: #191919;
  --color-primary-100: #D1DCDF;
  --color-primary-200: #AFC7CE;
  --color-primary-300: #003161;
  --color-primary-400: #000B58;
}

/* Dark mode overrides */
.dark {
  --color-bg: #191919;
  --color-text: #ffffff;
  --color-primary-100: #1a1a2e;
  --color-primary-200: #16213e;
  --color-primary-300: #0f3460;
  --color-primary-400: #d0b0ff;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE/Edge Legacy */
body {
  -ms-overflow-style: none;
}